blinker
click   
colorama
distlib 
filelock
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
platformdirs
SQLAlchemy
typing_extensions
virtualenv
Werkzeug
WTForms
gunicorn